{% extends 'base.html.twig' %}

{% block title %}{{ 'Edit'|trans }} {{ movie.title }}{% endblock %}

{% block body %}
    <div class="container mt-4">

        {% for message in app.flashes('error') %}
            <div class="alert alert-danger mt-4">
                {{ message|raw }}
            </div>
        {% endfor %}

        <h1>{{ 'Edit'|trans }} "{{ movie.title }}"</h1>

        {{ form_start(form, {'attr': { 'class': is_submitted and not is_valid ? 'is-invalid' : '' }}) }}
        <div class="form-group">
            {{ form_label(form.title) }}
            {{ form_widget(form.title) }}
            <div class="form-error invalid-feedback">
                {{ form_errors(form.title) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.description) }}
            {{ form_widget(form.description) }}
            <div class="form-error invalid-feedback">
                {{ form_errors(form.description) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.releaseDate) }}
            {{ form_widget(form.releaseDate) }}
            <div class="form-error invalid-feedback">
                {{ form_errors(form.releaseDate) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.characters) }}
            {{ form_widget(form.characters) }}
            <div class="form-error invalid-feedback">
                {{ form_errors(form.characters) }}
            </div>
        </div>

        <div class="form-group mt-4 d-flex justify-content-between">
            {{ form_widget(form.submit) }}
            <a href="{{ path('app.movie.view', { 'id': movie.id }) }}" class="icon-link text-decoration-none" title="{{ 'Back to movie view'|trans }}">
                {% include '_parts/components/icons/arrow_left_square.html.twig' %}
                {{ 'Cancel'|trans }}
            </a>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
