{% extends 'base.html.twig' %}

{% block title %}Liste des films - Vidéothèque{% endblock %}

{% block head_extra %}
    {{ knp_pagination_rel_links(movies) }}
{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>Liste des films <span class="badge text-bg-secondary">{{ movies.getTotalItemCount }}</span></h1>
        <div>
            <a href="{{ path('app.movie.new') }}" class="icon-link btn btn-primary">Ajouter un film
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-square" viewBox="0 0 16 16">
                    <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z"/>
                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
                </svg>
            </a>
        </div>

        {% if movies.getTotalItemCount %}
            <table class="table mt-4">
                <thead>
                    <tr>
                        {# <th scope="col">#</th> #}
                        <th scope="col"{% if movies.isSorted('title') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(movies, 'Titre', 'title') }}</th>
                        {# <th scope="col">Description</th> #}
                        <th scope="col"{% if movies.isSorted('releaseDate') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(movies, 'Date de sortie', 'releaseDate') }}</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                {% for movie in movies %}
                    <tr>
                        {# <th scope="row">{{ movie.id }}</th> #}
                        <td><a href="{{ path('app.movie.view', { 'id': movie.id }) }}">{{ movie.title }}</a></td>
                        {# <td>{{ movie.description|u.truncate(100, '...', false) }}</td> #}
                        <td>{{ movie.releaseDate|date('d M Y') }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <div class="navigation mt-4">
                {{ knp_pagination_render(movies, null, {}, {'align': 'center'}) }}
            </div>
        {% else %}
            <p class="my-5"><i>Aucun film trouvé pour le moment...</i></p>
            <small>
                <p class="mt-4">Peut-être que vous pouvez remplir la base avec des fausses données en exécutant</p>
                <div class="container">
                    <code class="px-4 py-3 rounded-3 text-bg-dark">php bin/console doctrine:fixtures:load</code>
                </div>
                <p class="mt-4">... ou alors il est aussi possible de créer un film à la main via la barre de navigation.</p>
            </small>
        {% endif %}
    </div>
{% endblock %}
