{% extends 'base.html.twig' %}

{% block title %}{{ movie.title }} - Vidéothèque{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>{{ movie.title }}</h1>
        <div class="badge bg-secondary">Sortie : {{ movie.releaseDate|date('d M Y') }}</div>
        <div class="mt-4">{{ movie.description }}</div>
        <div class="mt-4 fw-bold">Personnages</div>
        <div class="mt-2">
        {% for character in movie.characters %}
            <span class="rounded border border-1 px-2 py-1 mx-1">{{ character.name }}</span>
        {% endfor %}</div>
        <div class="mt-4">
            {% include '_parts/components/link_back_movies.html.twig' %}
        </div>
    </div>
{% endblock %}
